<!doctype html>
<html ng-app="angular-blog">
<head>
  <title> Delete article </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- AngularJS and JQuery include.  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="./css/article.css" ></link>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"></link>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <menu-bar></menu-bar>

  <div class="container" ng-controller="ArticleController as articleCtrl">
    <h2> Articles </h2>
    <div class="col-sm-4" ng-repeat="elem in list">
      <h4> {{ elem.title }} </h4>
      <p> {{ elem.desc }} </p>
      <a href="" class="menu-option" ng-click="articleCtrl.deleteArticle(elem._id)">delete</a> <span class="menu-option">modify</span>
    </div>
  </div>

  <!-- Custom controller. -->
  <script src="./js/controllers/article.js"></script>
</body>
</html>
